<p style="color: green"><%= notice %></p>

<h1>My files</h1>

<div id="my_files">
  <% @my_files.each do |my_file| %>
    <%= image_tag my_file.file_data %>
    <p>
      <%= link_to "Show this my file", my_file %>
    </p>
  <% end %>
</div>

<%= link_to "New my file", new_my_file_path %>
